
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}
/*Estilos para barra de navegacion */
body{
    background-color: #B8CCD6;
}

.header{
    display: flex;
    align-items: center;
    background-color:  #9bc3eb;
}

.titulo_h{
    flex: 1;
    background-color: #9bc3eb;
    text-align: center;
    
}
.cont_nav{
    flex: 2;
   
}

.nav{
    text-align: center;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.link{
    flex: 1;
}

.nav-links li a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s ease;
    text-align: center;
}

.nav-links li a:hover{
    background-color: #1e93bf;
    color: white;
    
}


/*Campo General*/
.epn_xblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f3f2fa;
}

.item{
    flex-grow: 1;
    padding-top: 2%;
}

.item_2{
    flex-grow: 1;
    padding-top: 2%;
    background-color:#f3f2fa;
}
.text_info{
    width: 70%; 
    padding: 1%; 
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 16px;
}
.text_descripion{
    
    width: 70%;   /* Ancho del textarea */
    height: 300px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 10px;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin-left: 2%;
    margin-top: 1%;
}

.text_salida{
    width: 70%;   /* Ancho del textarea */
    height: 200px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 10px;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin: 2%;
    margin-top: 1%;
}

.t3{
   margin: 2% 2% 0 2%;
   font-size: medium;
   line-height: 1.4;
   color: #333;
   font-family: Arial, sans-serif;
}

/*Campo Retroalimentación*/
.epn_xblock2{
    display:block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color:#f3f2fa;
    height: 90%;
}

.checkbox_container{
    flex-grow: 1;
    padding-top: 2%;
}

.checkbox_unit{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.confing_selected{
   
    padding: 2%;
    font-size: 16px;
}
.config_unit{
    margin-bottom: 2%;
    border: 1px solid #ddd;
    padding: 12px;
   
    border-radius: 5px;
    background-color: #ffffff;
    display: none;
}

.t2{
    border: solid 1px #000000;
    width: 100%; /* Ajuste de ancho */
    padding: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    background-color: #f0f0f0; /* Fondo para destacarlo */
}

.param_container {
    
    justify-content: space-between;
    margin: 2%;
}

.param_container h3 {
    font-size: 16px;
    margin: 0;
}

.param_container input {
   
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 180px; /* Para que no se extienda demasiado */
    margin-left: 20px;
}


/*Campo codigo*/
.text_code{
    font-family: 'Courier New', Courier, monospace;
    width: 80%;   /* Ancho del textarea */
    height: 500px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 10px;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin-top: 1%;
    margin-left: 2%;
}
.text_cases{
    font-family: 'Courier New', Courier, monospace;
    width: 90%;   /* Ancho del textarea */
    height: 500px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 10px;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin-top: 1%;
    margin-left: 2%;
}
.text_num{
    margin-left: 2%;
    margin-top: 1%;
    resize: none;
    height: 500px;
}

/*Estilo de Tooltips*/
.help-icon {
    
    color: #007bff;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    font-size: larger;
}

.help-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 120%;
    transform: translateX(-20%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    z-index: 100;
}

.help-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

.updateButton {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.updateButton:hover  {
    background-color: #f3f8fe;
    color: #000000;
}


