html, body {
    height: 100%;
    background-color: #f0f8ff;
}

.t1{
    margin-left: 2%;
}

.t3{
  margin-left: 2%;
}

.flecha{
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg); /* Gira la flecha 180 grados */
}

.display_content{
 margin-left: 2%;
 border: solid;
 padding: 1%;
}

/*Zona de codigo*/
.zona_codigo{
    
    width: 95%;   /* Ancho del textarea */
    height: 400px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 10px;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin-left: 2%;
    margin-right: 2%;
}

.ai_content{
    display: flex;
    width: 100%;
}


.ai_response{
    width: 100%;   /* Ancho del textarea */
    height: 200px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 1%;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin: 2%;
    border-radius: 25px;
}
.t4{
    margin-left: 2%;
}

#test_code {
    background-color: white; /* Color inicial */
    color: black; /* Color del texto */
    border: 2px solid #007bff; /* Borde azul */
    padding: 10px 20px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animación suave */
    margin-left: 2%;
}

#test_code:hover {
    background-color: #007bff; /* Fondo celeste al pasar el cursor */
    color: white; /* Texto blanco */
}


.img_robot{
   
   width: 20%;
}