
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}
/*Estilos para barra de navegacion */
body{
    background-color: #B8CCD6;
}

.header{
    display: flex;
    align-items: center;
    background-color: rgb(191, 188, 199);
}

.titulo_h{
    flex: 1;
    background-color: #9bc3eb;
    text-align: center;
    
}
.cont_nav{
    flex: 2;
   
}

.nav{
    text-align: center;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.link{
    flex: 1;
}

.nav-links li a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s ease;
    text-align: center;
}

.nav-links li a:hover{
    background-color: #ffbc0e;
    color: white;

}


/*Campo General*/
.epn_xblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: floralwhite;
}

.item{
    flex-grow: 1;
    padding-top: 2%;
}

.item_2{
    flex-grow: 1;
    padding-top: 2%;
    background-color: rgb(223, 192, 192);
}
.text_info{
    width: 70%; 
    padding: 1%; 
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 16px;
}
.campos_info{
    
    width: 80%;   /* Ancho del textarea */
    height: 300px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 10px;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin: 2%;
}

.t3{
   margin: 2% 2% 0 2%;
   font-size: medium;
   line-height: 1.4;
   color: #333;
   font-family: Arial, sans-serif;
}

/*Campo Retroalimentación*/
.epn_xblock2{
    display:block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: floralwhite;
    height: 90%;
}

.checkbox_container{
    flex-grow: 1;
    padding-top: 2%;
}

.checkbox_unit{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.confing_selected{
   
    padding: 2%;
    font-size: 16px;
}
.config_unit{
    margin-bottom: 2%;
    border: 1px solid #ddd;
    padding: 12px;
   
    border-radius: 5px;
    background-color: #ffffff;
    display: none;
}

.t2{
    border: solid 1px #000000;
    width: 100%; /* Ajuste de ancho */
    padding: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    background-color: #f0f0f0; /* Fondo para destacarlo */
}

.param_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.param_container h3 {
    font-size: 16px;
    flex: 1;
    margin: 0;
}

.param_container input {
    flex: 1;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 180px; /* Para que no se extienda demasiado */
}


/*Campo codigo*/
.text_code{
    font-family: 'Courier New', Courier, monospace;
    width: 80%;   /* Ancho del textarea */
    height: 500px;  /* Altura del textarea */
    resize: none;   /* Evita que el usuario cambie el tamaño del textarea */
    padding: 10px;  /* Espacio interno */
    border: 1px solid #000000;  /* Borde del textarea */
    font-size: 16px;  /* Tamaño de la letra */
    margin-top: 1%;
}
.text_num{
    margin-left: 2%;
    margin-top: 1%;
    resize: none;
    height: 500px;
}

