html, body {
    height: 100%;
    background-color: #f0f8ff;
}

.t1{
    margin-left: 2%;
}

.t3{
  margin-left: 2%;
}

.flecha{
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg); /* Gira la flecha 180 grados */
}

.display_content{
 margin-left: 2%;
 border: solid;
 padding: 1%;
}

.student-view {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.buttons-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons-container button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Code and AI response container */
.code-ai-container {
    display: flex;
    gap: 10px;
}

.zona_codigo, .ai_response {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    
}


.zona_codigo {
    flex: 3; /* 60% width */
    height: 500px;
}

.ai_response {
    flex: 2; /* 40% width */
    height: 500px;
}

.t4{
    margin-left: 2%;
}

.text_adicional{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    width: 55%;
    margin-left: 2%;
    height: 100px;
}

/* Estilo de la flecha */
.toggle-arrow {
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    transition: transform 0.2s ease;
}

/* Rotación de la flecha hacia abajo */
.toggle-arrow.expanded {
    transform: rotate(180deg);
}

.para{
    padding-left: 2%;
}
